doctype html

html
    head
        include ../public/jade/header
        script(src="/ajax/ajax.js")

    body
        button(onclick="ajaxGetSample()") AJAX GET Sample
        div.get_res

        button(onclick="ajaxPostSample()") AJAX POST Sample
        div.post_res
