doctype html

html
    head
        include ../public/jade/header
        script(src="/ajax/ajax.js")

    body
        button(onclick="ajaxGetSample()") AJAX GET Sample
        div(class="get_res")

        button(onclick="ajaxPostSample()") AJAX POST Sample
        div(class="post_res")
