doctype html

html
    head
        meta(charset="utf8")
        title IAS - Integrated Application Skeleton

    body
        form(action="/api/sampleLocalPassport", method="POST")
            div
                label User ID :
                input(type="text", name="user_id")
            div
                label Password :
                input(type="password", name="passwd")
            div
                input(type="submit", value="Login")
        form(action="/api/sampleFacebookPassport", method="POST")
            input(type="submit", value="Facebook Login")